<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Edit Transporter Address</h2>
    <ol class="breadcrumb">
      <li>
        <a href="#">Transport</a>
      </li>
      <li>
      <%= link_to 'Transporters', transporters_path %>              
      </li>
      <li>
        <%= link_to @transporter_address.transporter.code, transporter_path(@transporter_address.transporter) %>
      </li>
      <li class="active">
        <strong>Address</strong>
      </li>
    </ol>
  </div>
  <div class="col-sm-8">
    <div class="title-action">
      <%= link_to 'Cancel', transporter_path(@transporter_address.transporter),  :class => "btn btn-default"%>
    </div>
  </div>
</div>

<%= render 'form', transporter_address: @transporter_address %>
