<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Currencies</h2>
    <ol class="breadcrumb">
      <li>
        <a href="#">Lookups</a>
      </li>
      <li class="active">
        <strong>Currencies</strong>
      </li>
    </ol>
  </div>
  <div class="col-sm-8">
    <div class="title-action">
      <%= link_to 'Cancel', currencies_path,  :class => "btn btn-default"%>
    </div>
  </div>
</div>

<%= render 'form', currency: @currency %>

