<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>New Dispatch</h2>
    <ol class="breadcrumb">
      <li>
        <a href="#">Dispatch</a>
      </li>
      <li class="active">
        <strong>New</strong>
      </li>
    </ol>
  </div>
  <div class="col-sm-8">
    <div class="title-action">
      <% if (params[:fdp_id].present?) %>
        <%= link_to 'Cancel', '/en/dispatches?hub=' + params[:hub_id].to_s + '&operation=' + params[:operation_id].to_s + '&region=' + @region.id.to_s + '&zone=' + @zone.id.to_s + '&woreda=' + @woreda.id.to_s + '&fdp=' + params[:fdp_id].to_s,  :class => "btn btn-default"%>      
      <% else %>
        <%= link_to 'Cancel', dispatches_path,  :class => "btn btn-default"%>
      <% end %>
    </div>
  </div>
</div>

<%= render 'form', dispatch: @dispatch %>

