<div class="row wrapper border-bottom white-bg page-heading" id="project_edit_breadcrumb">
  <div class="col-sm-4">
    <h2>Edit Project</h2>
    <ol class="breadcrumb">
      <li>
        <a href="#">Project</a>
      </li>
      <li class="active">
        <strong>Edit</strong>
      </li>
    </ol>
  </div>
  <div class="col-sm-8" id="project_edit_cancel">
    <div class="title-action">
      <%= link_to 'Cancel', projects_path,  :class => "btn btn-default"%>
      <%= link_to "Print", '#',  onclick: "printpage()", :class => "btn btn-default"%>
    </div>
  </div>
</div>

<%= render 'form', project: @project %>

