<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Edit Requisition</h2>
    <ol class="breadcrumb">
      <li>
        <a href="#">Requisition</a>
      </li>
      <li class="active">
        <strong>Edit</strong>
      </li>
    </ol>
  </div>
  <div class="col-sm-8">
    <div class="title-action">
      <%= link_to 'Cancel', requisitions_path,  :class => "btn btn-default"%>
      
    </div>
  </div>
</div>

<%= render 'form', requisition: @requisition %>

