<% if @regional_request_references.present? %>
$("#references").html("");
var div_element = document.getElementById('references')
div_element.insertAdjacentHTML('beforeend','<div class="ibox float-e-margins col-md-12 col-sm-12 col-xs-12"><b> References</b> </div>');
<% end %>
$("#references").append("<%= j render :partial => 'rrd_reference_list', :locals => { :references => @regional_request_references } %>");