
<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Contract Reports</h2>
    <ol class="breadcrumb">
      <li>
        <a href="/">Home</a>
      </li>
      <li class="active">
        <strong>Contract Reports</strong>
      </li>
    </ol>
  </div>
  <div class="col-sm-8">
    <div class="title-action">
      
    </div>
  </div>
</div>

<div class="ibox float-e-margins">
  <div class="ibox-content">
    <ul>
        <li><%= link_to 'Transport Order', '/contract_reports/transport_order',  :class => "btn btn-default" ,method: :post %></li>  
   
    </ul>
  </div>


</div>