<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>New Dispatch Summary By Fdp</h2>
    <ol class="breadcrumb">
      <li>
        <a href="#">Dispatch Summary By Fdp</a>
      </li>
      <li class="active">
        <strong>New</strong>
      </li>
    </ol>
  </div>
  <div class="col-sm-8">
    <div class="title-action">
      <%= link_to 'Cancel', dispatch_summary_by_fdps_path,  :class => "btn btn-default"%>
    </div>
  </div>
</div>

<%= render 'form', dispatch_summary_by_fdp: @dispatch_summary_by_fdp %>

