<div class="row wrapper border-bottom white-bg page-heading" style="margin-bottom:20px">
  <div class="col-sm-4">
    <h2>New Stock Receipt</h2>
    <ol class="breadcrumb">
      <li>
        <a href="#">Receipt</a>
      </li>
      <li class="active">
        <strong>New</strong>
      </li>
    </ol>
  </div>
  <div class="col-sm-8">
    <div class="title-action">
      <%= link_to 'Cancel', receipts_path,  :class => "btn btn-default"%>
    </div>
  </div>
</div>

<%= render 'form', receipt: @receipt %>

