<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Edit HRD</h2>
    <ol class="breadcrumb">
      <li>
        <a href="#">HRD</a>
      </li>
      <li class="active">
        <strong>Edit</strong>
      </li>
    </ol>
  </div>
  <div class="col-sm-8">
    <div class="title-action">
      <%= link_to 'Cancel', hrds_path,  :class => "btn btn-default"%>
    </div>
  </div>
</div>

<%= render 'form', hrd: @hrd %>
