<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>New Transport Order</h2>
    <ol class="breadcrumb">
      <li>
        <a href="#">Transport Order</a>
      </li>
      <li class="active">
        <strong>New</strong>
      </li>
    </ol>
  </div>
  <div class="col-sm-8">
    <div class="title-action">
      <%= link_to 'Cancel', transport_orders_path,  :class => "btn btn-default"%>
    </div>
  </div>
</div>

<%= render 'form', transport_order: @transport_order %>

