<div class="footer">
    <div class="pull-right">
        Version <%= Rails.configuration.version %>
    </div>
    <div>
        <strong>Copyright</strong> &copy; <%= Time.now.year %> National Disaster Risk Management Commision (NDRMC)
    </div>
</div>
