<div class="footer">
    <div class="pull-right">
        Version 1.2.44
    </div>
    <div>
        <strong>Copyright</strong> National Disaster Risk Management Commision NDRMC &copy; <%= Time.now.year %>
    </div>
</div>
