<li class="nav-header">
  <div class="profile-element">
    <%=link_to "/" do %>
    <span>
      <img alt="image" class="img-circle" src="<%= image_url('cats-logo.png') %>">
    </span>
    <% end %>
  </div>
  <div class="logo-element">
    CATS
  </div>
</li>
