<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2   " href="#"><i class="fa fa-bars"></i> </a>

        </div>

        <ul class="nav navbar-top-links navbar-right">


          <li class="dropdown">
            <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Yared Ayalew <span class="caret"></span></a>
            <ul role="menu" class="dropdown-menu">
              <li><a href="">Profile</a></li>
              <li><a href="">Account Settings</a></li>
              <li><a href="">Change Password</a></li>
              <li><a href="">Log Out</a></li>
            </ul>
          </li>

    </ul>
</nav>
</div>